/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Navbar Styling */
.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 40px;
}

.website-name{
    margin-right: auto;
    font-size: 40px;
    color: #fff;
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #555;
    border-radius: 4px;
}

/* Dropdown Menu */
.navbar ul li:hover .dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    border-radius: 4px;
    z-index: 1;
}

.dropdown li {
    margin: 10px 0;
}

.dropdown li a {
    color: #fff;
    padding: 5px 10px;
}

.dropdown li a:hover {
    background-color: #555;
    border-radius: 4px;
}

/* Footer Styling */
footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 20px;
    text-align: center;
}
