/* Navbar Styling */
.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 40px;
}

.website-name {
    margin-right: auto;
    font-size: 1.5rem;
    color: #fff;
    margin-left: 10px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #555;
    border-radius: 4px;
}

/* Hamburger Menu Styling */
.hamburger-menu .toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.hamburger-menu .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

/* Dropdown Menu */
.navbar ul li:hover .dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    border-radius: 4px;
    z-index: 1;
}

.dropdown li {
    margin: 10px 0;
}

.dropdown li a {
    color: #fff;
    padding: 5px 10px;
}

.dropdown li a:hover {
    background-color: #555;
    border-radius: 4px;
}

/* About Community Section */
.about-community {
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
    margin-top: 20px;
}

.about-community h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333;
    text-align: center; /* Center the heading */
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
}